<div class="row">
  <div class="col-md-12">
    <div class="card card-workout">
      <div class="row">
        <div class="col-md-12">
          <canvas style="padding: 20px 10px 0 10px" id="chartWorkout" width="400" height="100"></canvas>
        </div>
      </div>
      <div class="card-header">
        <h1 class="card-title">
          {{ workout.name }}
        </h1>
      </div>
      <div class="card-body">
        <span *ngIf="workout.category != ''">Category: {{ workout.category }} - </span>
        <span *ngIf="workout.duration > 0">Duration: {{ workout.duration / 60 }} mins - </span>
        <span *ngIf="workout.tss > 0">TSS: {{ workout.tss }}</span>
        <br/>
        <br/>
        <h2>Description</h2>
        <p style="white-space: pre-line">{{ workout.description }}</p>
        <h2>Goals</h2>
        <p style="white-space: pre-line">{{ workout.goals }}</p>
      </div>
    </div>
  </div>
</div>